.feedback-form  {
display: flex;
gap: 8px;
flex-direction: column;
border-radius: 8px;
padding: 24px;
width: 408px;
height: 296px;
}

label {
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
display: flex;
flex-direction: column;
gap : 8px;
/* border-radius: 8px;
width: 360px; */
}

button {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 8px;
border: none;
padding: 8px 16px;
width: 95px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
background-color: #4e75ff;
}

input {
border: 1px solid #808080;
border-radius: 4px;
width: 344px;
height: 40px;
padding-left: 16px;
align-items: center;
font-family: "Montserrat", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

input:hover  {
border: 1px solid black;
}

textarea {
     border: 1px solid #808080;
border-radius: 4px;
width: 344px;
height: 70px;
resize: none;
padding-left: 16px;
padding-top: 10px;
}

textarea:hover  {
border: 1px solid black;
}

button:hover {
    background-color: #6c8cff;
}